@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

:root {
  --dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --grey-magenta: hsl(303, 10%, 53%);
  --light-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%);
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}