* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Alata", sans-serif;
  font-size: 15px;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 4rem;
}

@media (max-width: 550px) {
  h1 {
    font-size: 2.2rem;
  }
}

@media (max-width: 350px) {
  h1 {
    font-size: 1.5rem;
  }
}

.section-hero {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.4)), to(rgba(0, 0, 0, 0.4))), url("../images/desktop/image-hero.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../images/desktop/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  min-height: 500px;
  position: relative;
}

@media (max-width: 768px) {
  .section-hero {
    background-image: url("../images/mobile/image-hero.jpg");
    height: 100vh;
  }
}

.section-hero nav {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

@media (max-width: 1100px) {
  .section-hero nav {
    padding: 3rem 2rem;
  }
}

@media (max-width: 1100px) {
  .section-hero nav {
    padding: 3rem 2rem;
  }
}

.section-hero nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .section-hero nav ul {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: none;
  }
  .section-hero nav ul.section-hero__navlist {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.section-hero nav ul li {
  margin-left: 2rem;
}

@media (max-width: 768px) {
  .section-hero nav ul li {
    margin: 0.5rem 2rem;
  }
}

.section-hero nav ul li a {
  color: white;
}

@media (max-width: 768px) {
  .section-hero nav ul li a {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
}

.section-hero.section-hero__nav-mobile {
  background-image: none;
  background: black;
}

.section-hero .section-hero__menu-button {
  display: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .section-hero .section-hero__menu-button {
    display: block;
  }
}

.section-hero .section-hero__title {
  max-width: 1100px;
  margin: 0 auto;
  padding: 4rem 0;
  height: calc(80vh - 164px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1100px) {
  .section-hero .section-hero__title {
    padding: 3rem 2rem;
  }
}

@media (max-width: 768px) {
  .section-hero .section-hero__title {
    height: calc(100vh - 164px);
  }
}

.section-hero .section-hero__title h1 {
  text-transform: uppercase;
  color: white;
  max-width: 600px;
  border: 2px solid white;
  padding: 3rem;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .section-hero .section-hero__title h1 {
    margin: auto;
    width: 100%;
    max-width: 500px;
    padding: 1.5rem;
  }
}
/*# sourceMappingURL=styles.css.map */